<p>
  <strong>Subject:</strong>
  <%= @installation.subject %>
</p>

<p>
  <strong>Body:</strong>
  <%= @installation.body %>
</p>

<p>
  <strong>Installationdate:</strong>
  <%= @installation.installationdate %>
</p>

<%
if @installation.invoice == nil
	noteButton = "installation"
end
%>

<%= show_notes(@installation.order.assignment.offer.request, noteButton, @installation.id).html_safe%>
