<html>
	<body>
		<h4>Ihr Einkauf in unserem Shop</h4>
		<p>Hallo <%= @user.firstname %> <%= @user.lastname %>,</p>
		<p>Ihre Bestellung ist bei uns eingegangen. Besuchen Sie uns doch mal wieder für weitere Informationen.</p>
		<%= link_to "Company-Portal", root_url %>
	</body>
</html>