<html>
	<body>
		<h4>Ihr Ware ist eingetroffen</h4>
		<p>Hallo <%= @user.firstname %> <%= @user.lastname %>,</p>
		<p>Ihre Ware ist eingetroffen und wird nun vorbereitet. Besuchen Sie uns doch mal wieder für weitere Informationen.</p>
		<%= link_to "Company-Portal", root_url %>
	</body>
</html>