<html>
	<body>
		<h4>Ihr Auftrag ist abgeschlossen</h4>
		<p>Hallo <%= @user.firstname %> <%= @user.lastname %>,</p>
		<p>Ihr Auftrag ist abgeschlossen, Sie können Ihre Rechnung auf unserer Webseite abrufen</p>
		<%= link_to "Company-Portal", root_url %>
	</body>
</html>