<html>
	<body>
		<h4>Ihre Angebot wurde erstellt</h4>
		<p>Hallo <%= @user.firstname %> <%= @user.lastname %>,</p>
		<p>Wir habe ein Angebot für sie erstellt. Besuchen Sie uns doch mal wieder für weitere Informationen.</p>
		<%= link_to "Company-Portal", root_url %>
	</body>
</html>