<% if params[:format] != "pdf" %>
	<%= controlLink(@offer.request, @offer.assignment).html_safe %>
<%end
 if @offer.assignment == nil
  noteButton = "offer"
 end
%>

<%= showObject(@offer, noteButton, @offer.request, true, true, true, params[:format]).html_safe %>
<% if @offer.customer == current_user and @offer.assignment == nil and @offer.publication != nil %>
	<br>
	<div><%= link_to "Accept", convert_assignments_path(:offer_id => @offer.id), :class => "btn btn-success" %>
	<%= link_to "Decline", decline_offer_path(@offer), :class => "btn btn-danger" %></div>
<% end %>
